.frame {
    height: 100vh;
    background-color: gray;
}

.calender {
    height: 50%;
    background-color: white;
    padding: 10px;
}

.selection {
    height: 50%;
    padding: 10px;
    display: flex;
    background-color: green;
    justify-content: space-around;
}